# To enable Fail2Ban, use: sudo cp /etc/fail2ban/jail.conf /etc/fail2ban/jail.local
# Then, replace the following sections in /etc/fail2ban/jail.local.

[DEFAULT]

mta = mail
destemail = {{ email }}
sendername = Fail2BanAlerts


[sshd]

# To use more aggressive sshd modes set filter parameter "mode" in jail.local:
# normal (default), ddos, extra or aggressive (combines all).
# See "tests/files/logs/sshd" or "filter.d/sshd.conf" for usage example and details.
#mode   = normal
enabled   = true
filter    = sshd
port      = ssh
banaction = iptables-multiport
bantime   = 1800
maxretry  = 3
logpath   = %(sshd_log)s
backend   = %(sshd_backend)s

[nginx-http-auth]

enabled  = true
filter   = nginx-http-auth
port     = http,https
logpath  = /var/log/nginx/error.log

[nginx-noscript]

enabled  = true
port     = http,https
filter   = nginx-noscript
logpath  = /var/log/nginx/access.log
maxretry = 6

[nginx-badbots]

enabled  = true
port     = http,https
filter   = nginx-badbots
logpath  = /var/log/nginx/access.log
maxretry = 2

[nginx-nohome]

enabled  = true
port     = http,https
filter   = nginx-nohome
logpath  = /var/log/nginx/access.log
maxretry = 2

[nginx-noproxy]

enabled  = true
port     = http,https
filter   = nginx-noproxy
logpath  = /var/log/nginx/access.log
maxretry = 2
