[Unit]
Description=Dashy
After=network.target

[Service]
RestartSec=2s
Type=simple
User=pi
WorkingDirectory=/var/lib/dashy/
ExecStart=/usr/bin/yarn start
Restart=always
Environment=USER=git HOME=/home/git GITEA_WORK_DIR=/var/lib/gitea

[Install]
WantedBy=multi-user.target
