[Unit]
Description=Background tasks for Nextcloud

[Service]
Type=oneshot
ExecStart=/usr/bin/php -f ${NEXTCLOUD_DIR}/cron.php
User=www-data

[Install]
WantedBy=multi-user.target
