[Unit]
Description=Background tasks for Nextcloud
OnFailure=unit-status-mailer@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/php -f /var/www/nextcloud/cron.php
User=www-data

[Install]
WantedBy=multi-user.target
