[Unit]
Description=Creates a backup of postgres database %i

[Service]
Type=oneshot
ExecStart=DB_NAME=%i /usr/bin/postgres-backup
User=postgres

[Install]
WantedBy=multi-user.target
