[Unit]
Description=Creates a backup of postgres database %i
OnFailure=unit-status-mailer@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/postgres-backup
User=postgres
Environment=DB_NAME=%i

[Install]
WantedBy=multi-user.target
