[Unit]
Description=Updates %i to a new version (if available)
OnFailure=unit-status-mailer@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/%i-install.sh
User={{ USERNAME }}

[Install]
WantedBy=multi-user.target
