[Unit]
Description=Pulls new Docker images and recreates Docker containers
OnFailure=unit-status-mailer@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/update-docker-services.sh

[Install]
WantedBy=multi-user.target
