[Unit]
Description=Pulls new Docker images and recreates Docker containers

[Timer]
OnBootSec=15min
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
