[Unit]
Description=Web1090 CLI
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User={{ USERNAME }}
WorkingDirectory=/usr/share/web1090/api
ExecStart=python3 /usr/share/web1090/api/cli.py track-aircraft
Restart=always

[Install]
WantedBy=multi-user.target
