[Unit]
Description=Web1090 API
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=pi
WorkingDirectory=/usr/share/web1090/api
ExecStart=/home/pi/.local/bin/uvicorn main:app --reload --host 0.0.0.0 --port 8006
Restart=always
Environment=DUMP1090_ADDRESS=${DUMP1090_ADDRESS} PSQL_DB=${FR24_PSQL_DB} PSQL_USER=${FR24_PSQL_USER} PSQL_PASSWORD=${FR24_PSQL_PASSWORD}

[Install]
WantedBy=multi-user.target
