[Unit]
Description=Creates a backup of directory %i
OnFailure=unit-status-mailer@%n.service
Before=restic-check@.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/directory-backup
User=root
Environment=repo=%i
EnvironmentFile=/etc/restic/%i-source

[Install]
WantedBy=multi-user.target
