#!/usr/bin/env python3

import json
import sys

import requests


def print_config() -> None:
    print("graph_title dump1090 aircraft")
    print("graph_vlabel aircraft")
    print("graph_args --upper-limit 20 -l 0")
    print("graph_category adsb")
    print("graph_info Number of aircraft detected by ADS-B receiver.")
    print("dump1090.label dump1090")


def print_value() -> None:
    response = requests.get('${DUMP1090_ADDRESS}')
    if response.ok:
        data = json.loads(response.content)
        num_aircraft = len(data['aircraft'])
        print(f'dump1090.value {num_aircraft}')


if __name__ == '__main__':
    if len(sys.argv) > 1 and sys.argv[1] == 'config':
        print_config()
    else:
        print_value()
