#!/usr/bin/env python3

import os
import sys

sys.path.append('/var/lib/ns-api-python')

from api import NSApi
from models.disruptions import DisruptionType

os.chdir('/var/lib/ns-api-python')

categories = {
    'maintenance': DisruptionType.MAINTENANCE,
    'disruption': DisruptionType.DISRUPTION,
    'calamity': DisruptionType.CALAMITY,
}

def print_config() -> None:
    print("graph_title NS Disruptions")
    print("graph_vlabel count")
    print("graph_category ns")
    print("graph_info Number of disruptions per category.")

    for category in categories:
        print(f"{category}.label {category}")


def print_value() -> None:
    api = NSApi()
    disruptions = api.get_disruptions()

    for name, type in categories.items():
        count = len(disruptions.get_disruption_by_type(type))

        print(f'{name}.value {count}')


if __name__ == '__main__':
    if len(sys.argv) > 1 and sys.argv[1] == 'config':
        print_config()
    else:
        print_value()
