{
    "files.exclude": {
        "**/.dll": true
    },
    "workbench.colorTheme": "One Dark Pro",
    "files.trimFinalNewlines": true,
    "files.trimTrailingWhitespace": true,
    "[python]": {
        "editor.defaultFormatter": "ms-python.python"
    },
    "editor.rulers": [
        100
    ],
    "python.formatting.autopep8Args": [
        "--max-line-length=100"
    ],
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "git.enableSmartCommit": true,
    "remote.SSH.remotePlatform": {
        "192.168.178.235": "linux"
    },
    "workbench.editorAssociations": [],
    "git.confirmSync": false,
    "workbench.editor.highlightModifiedTabs": true,
    "files.autoSave": "onWindowChange",
    "editor.cursorBlinking": "smooth",
    "editor.acceptSuggestionOnEnter": "off"
}
