PG_DSN='postgresql://bracket:{{ bracket_psql_password }}@localhost:5432/bracket'
JWT_SECRET='{{ bracket_jwt_secret}}'
CORS_ORIGINS='https://{{ bracket_domain_name }}'
CORS_ORIGIN_REGEX='https://.*\.vercel\.app'
ADMIN_EMAIL='{{ email }}'
ADMIN_PASSWORD='{{ bracket_admin_password }}'
SENTRY_DSN='{{ bracket_sentry_dsn }}'
ALLOW_USER_REGISTRATION=false
