#cloud-config
users:
  - name: daniel
    groups: users, sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - <public_ssh_key>
packages:
  - git
package_update: true
package_upgrade: true
runcmd:
  - git clone https://github.com/evroon/concordia.git /home/daniel/concordia
