server {
    server_name {{ bracket_api_domain_name }};

    listen 443 ssl;
    listen [::]:443 ssl;

    location / {
        proxy_pass http://localhost:8400;
    }

    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
}
