limit_req_zone $binary_remote_addr zone=ip:10m rate=5r/s;
limit_req_zone $binary_remote_addr zone=login:10m rate=6r/m;

server {
    server_name {{ bracket_api_domain_name }};

    listen 443 ssl;
    listen [::]:443 ssl;

    location / {
        limit_req zone=ip burst=12 delay=8;
        proxy_pass http://localhost:8400;
    }

    # Disallow rest of the world to access metrics.
    location /metrics {
        allow 127.0.0.1;
        deny all;
    }

    location /token {
        limit_req zone=login burst=4 delay=2;
        proxy_pass http://localhost:8400;
    }

    ssl_certificate /etc/letsencrypt/live/{{ bracket_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ bracket_domain_name }}/privkey.pem;
}
