server {
    server_name {{ umami_bracket_domain_name }};

    listen 443 ssl;
    listen [::]:443 ssl;

    location /script.js {
        proxy_pass http://localhost:8000;
    }

    location /api/send {
        proxy_pass http://localhost:8000;
    }

    location / {
        deny all;
    }

    ssl_certificate /etc/letsencrypt/live/{{ bracket_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ bracket_domain_name }}/privkey.pem;
}
