server {
    server_name ${WEB1090_API_DOMAIN_NAME};

    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    location / {
        proxy_pass http://localhost:8006;
    }
}
