version: '3.1'

services:
{{ lookup("template", "services/watchtower.yml.j2") }}
{{ lookup("template", "services/wg-easy.yml.j2") }}
{{ lookup("template", "services/wg-exporter.yml.j2") }}
{{ lookup("template", "services/dump1090-exporter.yml.j2") }}
