version: '3.1'

services:
{{ lookup("template", "services/alertmanager.yml.j2") }}
{{ lookup("template", "services/dashy.yml.j2") }}
{{ lookup("template", "services/drone-runner.yml.j2") }}
{{ lookup("template", "services/drone-server.yml.j2") }}
{{ lookup("template", "services/loki.yml.j2") }}
{{ lookup("template", "services/mc.yml.j2") }}
{{ lookup("template", "services/uptime-kuma.yml.j2") }}
{{ lookup("template", "services/watchtower.yml.j2") }}
{{ lookup("template", "services/wg-easy.yml.j2") }}
{{ lookup("template", "services/wg-exporter.yml.j2") }}
{{ lookup("template", "services/wordpress-db.yml.j2") }}
{{ lookup("template", "services/wordpress.yml.j2") }}

volumes:
    certs:
    logs:
    fallbackcerts:
