groups:
- name: alert.rules
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 10s
    labels:
      severity: "critical"
    annotations:
      summary: "Endpoint {% raw %}{{ $labels.instance }}{% endraw %} down"
      description: "{% raw %}{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 1 minutes.{% endraw %}"

  - alert: DockerContainerDown
    expr: engine_daemon_container_states_containers{state="stopped"} > 0
    for: 10s
    labels:
      severity: "critical"
    annotations:
      summary: "A Docker container on {% raw %}{{ $labels.instance }}{% endraw %} is down"
      description: "{% raw %}A Docker container on {{ $labels.instance }} has been down for more than 1 minutes.{% endraw %}"
