[globals]
db_type=pgsql
db_host=localhost
db_database={{ selfoss_psql_db }}
db_username={{ selfoss_psql_user }}
db_password={{ selfoss_psql_password }}
db_port={{ psql_port }}
username={{ selfoss_username }}
password={{ selfoss_password_hash }}
auto_mark_as_read=1
public=1
