[Unit]
Description=Updates the RSS feed of Selfoss
OnFailure=unit-status-mailer@%n.service
After=syslog.target
After=network.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/php /var/www/selfoss/cliupdate.php
ExecStart=/var/lib/selfoss-discord/selfoss-discord
TimeoutStartSec=5m
User=www-data
WorkingDirectory=/var/lib/selfoss-discord

[Install]
WantedBy=multi-user.target
