[Unit]
Description=Updates the RSS feed of Selfoss
OnFailure=unit-status-mailer@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/update-selfoss
TimeoutStartSec=5m
User=www-data

[Install]
WantedBy=multi-user.target
