server {
    server_name {{ wordpress_domain_name }};

    listen 443 ssl;
    listen [::]:443 ssl;

    location / {
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   Host $host;
        proxy_set_header   X-Forwarded-Proto https;
        proxy_pass         http://localhost:8083;
    }

    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    proxy_set_header Host {{ wordpress_domain_name }};
}
