[client]
network_mode=true
log_file=/var/log/rbfeeder.log
disable_log=0
key={{ radarbox_key }}
sn=EXTRPI012021
lat={{ latitude }}
lon={{ longitude }}
alt=6
sat_used=0
sat_visible=0

[network]
mode=beast
external_port=30005
external_host=127.0.0.1

[mlat]
autostart_mlat=true

[dump978]
dump978_enabled=false
