#!/bin/bash
set -evo pipefail

# Source: https://sqlbak.com/blog/how-to-automate-postgresql-database-backups-in-linux

backupfolder={{ psql_backup_dir }}
keep_days=30

psqlfile=$backupfolder/$db_name/$(hostname)/$db_name-$(date +%Y-%m-%d_%H-%M-%S).psql
zipfile=$backupfolder/$db_name/$(hostname)/$db_name-$(date +%Y-%m-%d_%H-%M-%S).zip

# Create a backup
if pg_dump $db_name > $psqlfile ; then
   echo 'Psql dump created'
else
   echo 'pg_dump return non-zero code'
   exit 1
fi

# Compress backup
if gzip -c $psqlfile > $zipfile; then
   echo 'The backup was successfully compressed'
else
   echo 'Error compressing backup'
   exit 1
fi

rm -f $psqlfile

# Delete old backups
find $backupfolder/$db_name/$(hostname) -mtime +$keep_days -delete
