[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-dateutil = "*"
psycopg2 = "*"
requests = "*"
mypy = "*"
black = "*"
pylint = "*"
bandit = "*"
autoflake = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.10"
