    uptime-kuma:
        image: louislam/uptime-kuma
        container_name: uptime-kuma
        restart: unless-stopped
        volumes:
            - /var/lib/uptime-kuma:/app/data
        ports:
            - 3001:3001
