    wordpress:
        container_name: wordpress
        image: wordpress
        restart: unless-stopped
        ports:
            - "8083:80"
        volumes:
            - /var/lib/wordpress/html:/var/www/html
        environment:
            WORDPRESS_DB_HOST: wordpress_db
            WORDPRESS_DB_NAME: {{ wordpress_db_name }}
            WORDPRESS_DB_USER: {{ wordpress_db_user }}
            WORDPRESS_DB_PASSWORD: {{ wordpress_db_password }}
            WORDPRESS_CONFIG_EXTRA: |
                $_SERVER['HTTPS'] = 'on';
